<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sangjin.habit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Habit+"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Crawling.WebViewActivity" />
        <activity android:name=".HabitAuth.HabitAuthAddActivity" />
        <activity
            android:name=".Chatting.NewChatActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="NewChatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".Activity.MyRemoteViewsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".Activity.WidgetListView"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.HabitListActivity" />
        <activity android:name=".Activity.HabitAddActivity" />
        <activity android:name=".Activity.MemoActivity" />
        <activity android:name=".Activity.HabitEditActivity" />
        <activity android:name=".Activity.MemoEditActivity" />
        <activity android:name=".Activity.MainBottomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TogetherPlus.TogetherAddActivity" />
        <activity android:name=".Activity.MyInfoActivity" />
        <activity
            android:name=".TogetherPlus.TogetherTabActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".TogetherPlus.TogetherEditActivity" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Test.FileDowlnloadActivity" />
    </application>

</manifest>